@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: hsl(357, 100%, 57%);
  --secondary-color: hsl(11, 100%, 59%);
  --background-color-1: hsl(251, 17%, 13%);
  --background-color-2: hsl(228, 4%, 23%);
  --background-color-3: hsl(0, 0%, 27%);
  --extra-light: hsl(0, 0%, 87%);
  --white: hsl(0, 0%, 100%);

  /* Font Size */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  /* spacing */
  --tracking: -0.05ch;
  --tracking-s: -0.1ch;
  --wrapper-max-width: 70rem;

  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* fonts */
  --main-font: "Mulish", sans-serif;
  --paragraph: "Space Mono", monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  background-color: var(--background-color-1);
  letter-spacing: var(--tracking);
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

blockquote:not([class]),
li,
p {
  max-width: 65ch;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: var(--tracking-s);
}

ul,
ol {
  padding-inline-start: 1em;
  padding-left: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
  letter-spacing: var(--tracking-s);
  font-family: var(--paragraph);
}

p {
  font-size: var(--step-1);
  letter-spacing: var(--tracking-s);
  font-family: var(--paragraph);
}

a {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
  text-decoration: none;
}

li,
label,
input {
  font-size: var(--step-0);
  letter-spacing: var(--tracking-s);
}

.flow > * + * {
  margin-block-start: var(--size-step-1, 1em);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width, 85rem);
  position: relative;
}

/* header */

.section__container {
  max-width: var(--wrapper-max-width);
  margin: auto;
  padding: 5rem 0.75rem;
}

.section__header {
  font-weight: 600;
  color: var(--white);
  line-height: 3.25rem;
  /* text-align: center; */
}

.section__description {
  color: var(--extra-light);
  line-height: 1.75rem;
}

header {
  background-color: var(--background-color-1);
  overflow: hidden;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  color: var(--background-color-1);

  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

/* nav */

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  max-width: var(--wrapper-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a img {
  max-width: 150px;
}

.nav__menu__btn {
  color: var(--white);
  font-size: var(--step-1);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: var(--wrapper-max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__links .btn {
  padding: 0;
  font-weight: 500;
  background-color: var(--primary-color);
}

/* header content */

.header__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: var(--space-l);
}

.header__content h1 {
  margin-bottom: 1rem;
  text-wrap: balance;
  font-weight: 700;
  color: var(--white);
  line-height: 4rem;
  /* text-align: center; */
}

.header__content .section__description {
  margin-bottom: 6.5rem;
}

.header__btn {
  margin-bottom: 2rem;
}

.header__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header__stats h4 {
  font-weight: 600;
  color: var(--white);
}

.header__stats p {
  font-size: var(--step--2);
  color: var(--extra-light);
}
/* about */

.about {
  overflow: hidden;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: var(--space-l);
}

.about__image img {
  height: 100%;
  border-radius: var(--space-s);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.about__btn {
  margin-top: 2rem;
}

/* programs */

.program__header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 1rem 4rem;
}

.program__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(355px, 100%), 2fr));
  gap: 1rem;
}

.program__card {
  padding: 1rem;
  border-radius: var(--space-s);
  background-color: var(--background-color-3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.program__card:hover {
  background-color: var(--secondary-color);
}

.program__card img {
  max-width: 75px;
  margin-bottom: 1rem;
}

.program__card h4 {
  margin-bottom: 0.5rem;

  font-weight: 600;
  color: var(--white);
}

.program__card p {
  margin-bottom: 1rem;
  color: var(--extra-light);
  line-height: 1.75rem;
}

.program__card a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--extra-light);
}

/* services */

.service {
  overflow: hidden;
}

.service__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: var(--space-l);
}

.service__image img {
  /* max-width: 400px; */
  height: 100%;
  margin-inline: auto;
  object-fit: cover;
}

.service__content .section__header {
  margin-bottom: 2rem;
}

.service__list {
  display: grid;
  gap: 1rem;
}

.service__list h4 {
  margin-bottom: 0.5rem;

  font-weight: 600;
  color: var(--white);
}

.service__list span {
  margin-right: 10px;
  color: var(--secondary-color);
}

.service__btn {
  margin-top: 2rem;
}

/* testimonials */

.testimonial__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(325px, 100%), 1fr));
  gap: 2rem;
}

.testimonial__content .section__header {
  margin-bottom: 1rem;
}

.testimonial__card {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-color-3);
}

.user__details {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user__details img {
  max-width: 60px;
  border-radius: 100%;
}

.user__details h4 {
  font-weight: 600;
  color: var(--white);
}

.user__details h5 {
  font-weight: 500;
  color: var(--extra-light);
}

.user__ratings {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: goldenrod;
}

/* footer */

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 4rem 1rem;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--extra-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__links a span {
  margin-right: 10px;

  color: var(--primary-color);
}

.footer__col form {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5rem;
}

.footer__col input {
  width: 100%;
  padding-inline: 1rem;

  color: var(--background-color-1);
  outline: none;
  border: none;
  background-color: transparent;
}

.footer__col .btn {
  margin: 5px;
  padding: 4px 10px;

  border-radius: 5rem;
}

.footer__col p {
  line-height: 1.75rem;
  color: var(--extra-light);
}

.footer__bar {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid var(--extra-light);
}

.footer__logo img {
  max-width: 150px;
}

.footer__bar p {
  line-height: 1.75rem;
  color: var(--extra-light);
  text-align: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 2px 5px;
  background-color: var(--extra-light);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a img {
    max-width: 175px;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__links .btn {
    padding: 0.75rem 1.5rem;
  }
}
